#works-projects{
    /* margin-top: 30px; */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: white;
    overflow: hidden;
}

#works-text{
    font-size: 130px;
    color: #0ef;
    width: fit-content;
    left: 0;
    top: -40px;
    right: 0;
    opacity: 0.2;
    margin: auto;
    font-weight: 100;
    margin-top: 50px;
   
}

#projects-text{
    font-size: 54px;
    color: black;
    text-shadow: 2px 3px 6px black;
    width: fit-content;
    left: 0;
    top: 80px;
    right: 0;
    margin: auto;
    font-weight: 600;
    margin-top: -96px;
}
#cards-projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

#cards-projects>div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 5px 8px 14px 2px rgb(100, 110, 110);
    border-radius: 30px;
    width: 218px;
    height: 300px;
    margin: 3vw;
    align-items: center;
    color:  black;
    border: 2px solid black;
}

.topic>h3{
    text-align: center;
    margin: auto;
}

.topic>h3:hover{
    color: white;
}

.topic>p{
    text-align: center;
    margin: 10px;
}

#cards-projects>div:hover{
    color: white;
    transform: scale(1.1)translateY(-2px);
    box-shadow: 0 0 20px #0ef;
    background-color: rgb(39, 37, 37);
}

.p-btn{
    display: inline-block;
    padding: 5px 30px;
    background-color: transparent;
    border-radius: 3rem;
    font-size: 15px;
    color: black;
    letter-spacing: 0.2rem;
    font-weight: 600;
    border: 2px solid #0ef;
    transition: 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    margin-left: 32px;
    margin-top: 29px;
    padding: -7px;
}

.p-btn:hover{
    transform: scale2d(1.03);
    background-color: #0ef;
    color: black;
    box-shadow: 0 0 10px #0ef;
    border: 2px solid #0ef;
}

@media all and (max-width: 320px) {
    #works-projects{
        height: auto;
    }
    #works-text{
        font-size: 74px;
        margin-top: 54px;
    }
    #projects-text{
        font-size: 28px;
        margin-top: -58px;
    }
    #cards-projects{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -20px;
        padding: 44px;
    }
    #cards-projects>div{
        width: 69vw;
        height: 40vh;
        margin: 6vw;
        padding: 4vw;
    }
    .p-btn{
        margin-left: 25px;
        margin-top: 19px;
    }
    .topic>p{
        margin-top: 4px;
        font-size: 13px;
    }
    .topic>h3{
        font-size: 16px;
    }
}

@media all and (min-width: 321px) and (max-width: 375px) {
    #works-projects{
        height: auto;
    }
    #works-text{
        font-size: 83px;
        margin-top: 51px;
    }
    #projects-text{
        font-size: 31px;
        margin-top: -65px;
    }
    #cards-projects{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -46px;
        padding: 70px;
    }
    #cards-projects>div{
        width: 69vw;
        height: 41vh;
        margin: 6vw;
        padding: 4vw;
    }
    .p-btn{
        margin-left: 25px;
        margin-top: 10px;
    }
    .topic>p{
        margin-top: 4px;
        font-size: 15px;
    }
    .topic>h3{
        font-size: 18px;
    }
}

@media all and (min-width: 376px) and (max-width: 425px) {
    #works-projects{
        height: auto;
    }
    #works-text{
        font-size: 90px;
        margin-top: 51px;
    }
    #projects-text{
        font-size: 33px;
        margin-top: -65px;
    }
    #cards-projects{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -46px;
        padding: 90px;
    }
    #cards-projects>div{
        width: 60vw;
        height: 45vh;
        margin: 6vw;
        padding: 9px;
    }
    .p-btn{
        margin-left: 31px;
    }
    .topic>p{
        margin-top: 18px;
    }
}

@media all and (min-width: 426px) and (max-width: 768px){
    #works-projects{
        height: auto;
    }
    #works-text{
        font-size: 97px;
        margin-top: 47px;
    }
    #projects-text{
        font-size: 40px;
        margin-top: -73px;
    }
    #cards-projects{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -46px;
        padding: 90px;
    }
    #cards-projects>div{
        width: 28vw;
        height: 43vh;
        margin: 5vw;
        padding: 9px;
    }
    .p-btn{
        margin-left: 39px;
    }
    .topic>p{
        margin-top: 18px;
    }
}
